# Server Configuration
PORT=3000

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/tnpsc_db
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/tnpsc_db?retryWrites=true&w=majority
